source https://www.nuget.org/api/v2
nuget Fable.Elmish.Debugger
nuget FAKE
nuget Newtonsoft.Json
nuget Suave

clitool dotnet-fable
nuget Fable.Core
nuget Fable.Import.Browser
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.React
nuget Fable.JsonConverter